/*proprietà generali*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}
nav{
max-width: 100%;
background-color: #ff6900;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin-bottom: 10px;
}


/*all about text and font*/

.navSectionConteiner{
    width: 10%;
}

.navBar{
    margin: auto;
}

.navMargin{
    margin-right: 5px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.dUB{
    font-size: .8125rem
}

/*loghi e immagini*/

.boolando{
    height: 1.5rem;
}

/*colori*/

.colorWhite{
    color: #e6e6e4;
}