/*proprietà generali*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
}


nav{
    max-width: 100%;
    background-color: #ff6900;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: #1a1a1a;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%
}


/*all about text and font*/

.navSectionConteiner{
    width: 10%;
}

.foSectionConteiner{
    width: 105;
}

.navBar{
    margin: auto;
}

.fotBar{
    margin: auto;
}

.navMargin{
    margin-right: 5px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.dUB{
    font-size: .8125rem
}

/*loghi e immagini*/

.boolando{
    height: 1.5rem;
}

.imgConteiner{
    display: flex;
    justify-content: center;
}

.foto{
    width: 15%;
    margin-right: 25px;
    margin-bottom: 12px;
    margin-top: 12px;
}

/*colori*/

.colorWhite{
    color: #e6e6e4;
}


.conteiner{
    display: flex;
}

.position{
    display: flex;
    justify-content: space-between;
}

.fotoNascosta{
    width: 15%;
    margin-right: 25px;
    margin-bottom: 12px;
    margin-top: 12px;
    display: none;
}

.foto:hover{
    display: none;
}

.foto:hover + .fotoNascosta{
    display:block;
}
